<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>太钢统计明细表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <connector connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443" URIEncoding="utf-8"/>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myPagination.css">
    <style>
        .table tr td{border: 1px solid red; !important;}

    </style>
</head>
<body>

<div id="wrap">
<div id="tg-wrap" v-cloak>



    <h1>太钢统计明细表</h1>
    <div class="table2-button">

        <button type="button" class="btn btn-primary" onClick="Print('#wrap')">在线打印</button>
        <button type="button" class="btn btn-primary" id="generate-excel">导出excel</button>
    </div>
    <div class="tg-table2">
        <div class="tg-table1">
            <table class="table table-bordered" style="text-align: center" id="test_table">

                <div class="table-time" v-if="table2">
                    <p class="flo-left">项目名称: {{itemNameTitle}}<span></span></p>
                    <p class="flo-right">时间: <span>{{stateDate}}</span> | <span>{{endDate}}</span></p>
                </div>
                <tr>
                    <td>项目编号</td>
                    <td>项目名称</td>
                    <td>预算金额</td>
                    <td>成交金额</td>
                    <td>节约金额</td>
                    <td>节约资金率</td>
                </tr>
                <!--政府采购-->
                <tr v-for="(minx,name) in table2">
                    <td>{{minx.项目编号}}</td>
                    <td>{{minx.项目名称}}</td>
                    <td>{{minx.预算金额}}</td>
                    <td v-if="minx.成交金额">{{minx.成交金额}}</td>
                    <td v-else>--</td>
                    <td>{{minx.预算金额 - minx.成交金额}}</td>
                    <td>{{(minx.预算金额 - minx.成交金额) / minx.预算金额 * 100 +'%'}}</td>

                </tr>
                <!--合计-->
                <tr>
                    <td>合计</td>


                    <td>--</td>
                    <td>{{table2yusuansum}}</td>
                    <td>{{table2chengjiaosum}}</td>
                    <td>{{table2jieyuesum}}</td>
                    <td>{{table2jieyuelvsum}}</td>

                </tr>

            </table>


        </div>
        <nav aria-label="Page navigation" class="navigation">

            <div class="page-num"> 当前在第 {{iiiddd}}页


            </div>

            <div id="pagination" class="pagination"></div>
        </nav>
    </div>


</div>
</div>
</body>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue2.5.22.js"></script>
<script src="js/myPagination.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jszip/3.1.5/jszip.min.js"></script>
<script type="text/javascript" src="external/FileSaver.js"></script>
<script src="js/excel-gen.js"></script>
<script>
    new Vue({
        el: "#tg-wrap",
        data: {

            //明细表总计
            table2:[],
            table2yusuansum:'',
            table2chengjiaosum:'',
            table2jieyuesum:'',
            table2jieyuelvsum:'',
            pageid:'',
            iiiddd:'1',
            pagenum:'',
            stateDate:'',
            endDate:'',
            itemNameTitle:''

        },
        methods:{

            //根据传递过来的id 生成表格
            setUniDet(){
                var that = this;

                $.ajax({
                    url:"http://192.168.3.10:8080/pldk-tisco/report/findItemDetailByBuyMethod",
                    //url:"http://preview.tisco.puluodike.cn/tisco/report/findItemDetailByBuyMethod",
                    data: {
                        "buy_method_id":that.pageid,
                        "pageNo": 1,
                        "pageSize": 10
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.table2 = result.itemResult;
                        console.log(that.table2)

                        that.itemNameTitle = that.table2[0].项目类型
                        console.log( that.itemNameTitle)
                        var tabele2sum1 = 0;
                        var tabele2sum2 = 0;
                        for(var i=0;i<that.table2.length;i++){

                            tabele2sum1 += parseInt(that.table2[i].预算金额);
                            if(that.table2[i].成交金额 === null){
                                that.table2[i].成交金额 = 0
                            }
                            tabele2sum2 += parseInt(that.table2[i].成交金额)

                        }


                        that.table2yusuansum = tabele2sum1
                        that.table2chengjiaosum = tabele2sum2
                        that.table2jieyuesum  = tabele2sum1 - tabele2sum2
                        var eee = (that.table2jieyuesum/tabele2sum1) * 100
                        eee = eee.toFixed(2)
                        that.table2jieyuelvsum = eee +'%'





                    },

                })


            },
            //获取传递过来的 id 时间 总数据
            getUrlUserId(){
                var that = this;
                var str = location.search;// url ? 后面的数据

                //开始时间
                var sd = str;
                sd = sd.substring(41,51);
                that.stateDate = sd


                //结束时间
                var ed = str;
                ed = ed.substring(53,63);
                that.endDate = ed

                //分页总数据
                var page = str;
                page = page.substring(37,39);
                that.pagenum = page;
                console.log(that.pagenum);

                //用户id
                str.toString();
                str = str.substring(1,37); //吧 ？ 截取掉
                that.pageid = str       //放到data里面

                that.setUniDet()
            },

            //分页逻辑
            fenPage(){
                var that = this;
                var pageSum = Math.ceil(that.pagenum / 10)
                new Page({
                    id: 'pagination',
                    pageTotal: pageSum, //必填,总页数
                    pageAmount: 10,  //每页多少条
                    dataTotal: that.pagenum, //总共多少条数据
                    curPage:1, //初始页码,不填默认为1
                    pageSize: 5, //分页个数,不填默认为5
                    showPageTotalFlag:true, //是否显示数据统计,不填默认不显示
                    getPage: function (page) {
                        console.log(page);

                        that.iiiddd = page;
                        $.ajax({
                            url:"http://preview.tisco.puluodike.cn/tisco/report/findItemDetailByBuyMethod",
                            data: {
                                "buy_method_id": that.pageid,
                                "pageNo": page,
                                "pageSize": 10
                            },
                            async: false,
                            dataType:"json",
                            success:  function (result) {
                                that.table2 = result.itemResult;
                                var tabele2sum1 = 0;
                                var tabele2sum2 = 0;
                                for(var i=0;i<that.table2.length;i++){

                                    tabele2sum1 += parseInt(that.table2[i].预算金额)
                                    if(that.table2[i].成交金额 === null){
                                        that.table2[i].成交金额 = 0
                                    }
                                    tabele2sum2 += parseInt(that.table2[i].成交金额)

                                }


                                that.table2yusuansum = tabele2sum1
                                that.table2chengjiaosum = tabele2sum2
                                that.table2jieyuesum  = tabele2sum1 - tabele2sum2
                                var eee = (that.table2jieyuesum/tabele2sum1) * 100
                                eee = eee.toFixed(2)
                                that.table2jieyuelvsum = eee +'%'



                            },

                        })
                    }
                })
            }
        },
        mounted(){
            this.getUrlUserId();
            this.fenPage();
        }
    })
</script>

<script>
    $(document).ready(function () {
        excel = new ExcelGen({
            "src_id": "test_table",
            "show_header": true
        });
        $("#generate-excel").click(function () {
            excel.generate();
        });
    });
</script>
<script src="js/Print.js"></script>
</html>